{% extends 'base.html' %}
{% block body %}
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<style>

        .enter{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: rgb(124, 186, 224);
                }


            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }

        #ledge {
            color: #000;
            text-align:top;
            padding: 0px;
            height: 25px; 
            width: 20px;
             background-color: rgb(255, 229, 183);
            
        }    
        #opt{
                    color: black;
                    height: 25px;
                     width: 20px; 
                     background-color: rgb(255, 229, 183);
                }

        .close {
            position: absolute;
            top: 3px;
            right: 8px;
            font-size: 17px;
            transform: rotate(0deg);
            color: rgb(255, 255, 255);
            cursor: pointer;
            text-decoration: none;
        }
        .form-popup {
            display: none;
            position: fixed;
            top: 150px;
            right: 30px;
            border: 1px solid #f1f1f1;
            z-index: 9;
            width: 300px;
            height: 200px;
        }
        .content a:hover {
            background-color: rgb(238, 167, 75);
        }
        .form-container1 {
            max-width: 350px;
            height: 300px;
            padding: 2px; 
        }
        .btns_prnt{
            color: #fff;
            width: 100%;
            cursor:pointer;
            background-color: rgba(240, 248, 255, 0);
            border: none;
        }
        .btns_prnt:hover{
            background-color:#5bc9e4;
            color: rgb(15, 14, 14);
        }
        .bt{
            text-align: end;
        }
        .ScrollStyle{
            /* max-height: 200px; */
            overflow-y: scroll;
        }
        .hide{
            display: none;
        }

        
</style>
<div class="container-fluid" >
    <div class="main-panel" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
        <div class="content-wrapper" >
            <div class="row d-flex" style="background-color:  rgb(124, 186, 224);color:rgb(0, 0, 0);width: 100%;margin: auto;">
                <div class="col" style="font-weight:600 ;text-transform:capitalize;">Accounting Voucher Creation</div>
                <div class="col-4" style="font-weight:600 ;text-transform:capitalize;">{{company.name}}</div>
          
                <div class= 'col-2'><a href="javascript:history.go(-1);">
                    <span class="pull-right clickable" data-effect="fadeOut"><i class="fa fa-times" style="color: black;"></i></span></a>
                </div>                      
            </div>
            <form action="" id="frmvouch" method="POST" >
                {% csrf_token %}
            <div class="table-responsive">
                <table class="table table-bordered table-sm border-dark" style="background-color: rgb(245, 240, 230);color:rgb(0, 0, 0);">
                  <tr  class="p-2">
                    <th colspan="8" style="border-bottom: solid 0.5px rgba(205, 196, 196, 0.2) ; border-right:none ;">
                      <div>
                      <label style="font-weight:600 ;text-transform:capitalize; font-size: 18px;
                       background-color: rgb(17, 54, 86);">&nbsp;&nbsp;&nbsp;&nbsp;{{name}}&nbsp;&nbsp;&nbsp;&nbsp;</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label style="font-weight: 400; color: #000;">No.</label>&nbsp;&nbsp;

                        {% if vouch.voucherNumber == 'Automatic' %}
                        <label style="font-weight: 400; color: #000;">{{v}}</label>
                        {% elif vouch.voucherNumber == 'Manual'%}
                        <input type="number" id = 'vouchNum' style="background-color: rgb(255, 229, 183);height: 20px;">
                        {% elif vouch.voucherNumber == 'None' %}
                        <label></label>
                        {% elif vouch.voucherNumber == 'Automatic(Manual Override)' %}
                        <input type="number" id = 'vouchNum' style="background-color: rgb(255, 229, 183);height: 20px;">
                        {% endif %}

                      </div>

                      <div style="color: #000;font-weight:500 ;text-transform:capitalize; font-size: 18px;">
                        <span class="input-group">
                        <label>&nbsp;&nbsp;Account&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <!--<input type="text" style="height: 20px;background-color: rgb(255, 229, 183)"
                         name="acc1" id="acc1" class="form-control" onclick="accountform();"><br>-->
                        
                        <select id="ledge"  name="ledge" class="mb-4 form-control" >
                            {% for i in ledg %}
                            <option id = "opt" onclick="setvalue(' {{i.name}}, {{i.opening_blnc}}, {{i.opening_blnc_type}}')">
                            &nbsp;&nbsp;{{i.name}}</option> 
                            {% endfor %}
                        </select>
                    </span>
                        <label>&nbsp;&nbsp;Current Balance :</label>
                        <label id="blnc"></label>
                        <label id="blnc_type" value = "{{i.opening_blnc_type}}"></label>
                        </div>
                      
                       </th>
                    <th colspan="10" class="text-right mt-0" style="border-bottom: solid 0.5px rgba(255, 255, 255, .2);border-left:none ; color: #000;">                           
                      
                      <div>{{date}}</div>
                      <div>{{day}}</div>
                </th>

                  </tr>
                   
                    <tbody style="border-color: rgb(112, 111, 111);">
                        <div>
                        <tr>
                            <th colspan="12" class="text-dark" style="border: none;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Particulars</th>
                            <th colspan="2" class="text-right text-dark" style=" font: weight 8px;size: 15px; border: none;">Amount&nbsp;</th>
                        </tr></div>

                        <div>
                            <tr>
                                <!--<select id="ledge"  name="ledge" class="mb-4 form-control">
                                    {% for i in ledg_all %}
                                    <option id = "opt" value="{{i.name}} {{i.opening_blnc}} {{i.opening_blnc_type}}">&nbsp;&nbsp;{{i.name}}</option> 
                                    {% endfor %}
                                </select>-->
                                <td colspan="12" style="border: none;"><input type="text" style="height: 20px; background-color: rgb(255, 229, 183)"></td>
                                <td colspan="2" class="text-right" style="border: none; ">
                                    <input type="text" style="height: 20px; background-color: rgb(255, 229, 183)"></td>

                            </tr>
                        </div>
                    </tbody>
                    <tfoot >
                        {% if vouch.voucherNarration == 'Yes' %}
                      <td colspan="12" style="border: none;">
                       
                        <label class="text-dark">Narration : </label>
                            <textarea style="height: 30px; width:250px; background-color: rgb(255, 229, 183)"></textarea></td>
                        {% else %}
                        <td></td> 
                        {% endif %}    
                      <td colspan="2" class="text-right" style="border: none;">
                        <label class="text-dark text-right">total</label>
                    </td>
                    </tfoot>
                    
                </table>
                <div class="enter w-100 py-1 mt-0"><button class="btn  w-30" style="color:aliceblue;background-color: rgb(7, 62, 94);" >SAVE</button></div>    
              
              </div>
              <!--<div class="form-popup ScrollStyle" id="accForm" style="background-color: #213b52" >
                <form action="" class="form-container1">
                    <h6 style="background-color:rgb(17, 169, 240) ;color:white text">List of Ledger Accounts</h6>
                    <button type="button" class="btn cancel close" onclick="closeaccForm();">X</button>
                    <a href="{% url 'create_ledger' %}" style="cursor:pointer" class="btn bt btns_prnt" role="button">Create</a>  
                    <hr>
                    <div>
                        <table>
                            <tr>
                                            
                                    {% for i in ledg %}
                                    <option onclick="setvalue(' {{i.name}} ','{{i.id}}')" class="btns_prnt">&nbsp;&nbsp;{{ i.name }}</option>
                                    {% endfor %}
                                </tr>
                            </table>
                        </div>
                        <input type="text" name="acc1hidden" hidden value="{{i.id}}">-->
                </form>    
            </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}


<script type="text/javascript">

function setvalue(name,blnce,blnce_type){
            document.getElementById('blnc').value= blnce;
            document.getElementById('blnc_type').value= blnce_type;
}
    
    /*$("select#ledge").change(function () {
        const deptId = $(this).children("option: selected").val();
        console.log(deptId);
        $.ajax({
            url: '{% url "payment_vouchers" %}',
            data: {
                'dept_id': deptId
            },

            success: function (data) {
                $("label#blnc").html(data);
                console.log(data);
            }
        });

    });


 var element1 = document.getElementById('ledge');
 var element2 = document.getElementById('blnc');
 var element3 = document.getElementById('blnc_type');
function showblnce(){
 
    element2.innerHTML = element1.value;
 if(val=='others')
   element.style.display='block';
 else  
   element.style.display='none';
}

element1.addEventListener('change',showblnce);


    function closeaccForm() {
document.getElementById("accForm").style.display = "none";
}
function accountform(){
document.getElementById('accForm').style.display= "block";
}

function setvalue(acc1,accId){
            document.getElementById('acc1').value= accId;
            document.getElementById('accForm').style.visibility= "hidden";
            document.getElementsByName('acc1hidden').value= underId;
        }*/



</script>